@font-face {
  font-family: "MonsterFont";
  src: url("./assets/monstermoviesobliquejnl.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  color: white;
  background: rgb(0, 19, 36);
  background: linear-gradient(
    41deg,
    rgba(0, 225, 255, 1) 94% rgba(0, 19, 36, 0.9394608185070903) 32%
  );
  background-repeat: no-repeat;
  height: 100vh;
}
.instructionIcon {
  width: 30px;
}
.instructions {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em;
}
.logo {
  font-size: 3em;
  margin-bottom: 0.4em;
  font-family: "MonsterFont", system-ui;
  font-weight: 4000;
  font-size: 4em;
  font-style: normal;
}
.right {
  font-size: 1.5em;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 20px;
  padding: 30px;
}

.pokemon-image {
  width: 100%;
  height: auto;
  max-width: 200px;
}

.card {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  padding: 20px;
  max-height: 200px;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.card.clicked {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  animation: scaleAnimation 0.5s 1;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
